<div class="divExterior">
    <h1>Bienvenido a HOME</h1>
    {{#if vacio}}
        {{#each products}}
            <div>
                <p>Producto n° {{this.id}}</p>
                <p>Imagen {{this.thumbnail}} </p>
                <h2>Nombre del producto: {{ this.title }}</h2>
                <p>Descripcion: {{ this.description }}</p>
                <h3>Precio: {{ this.price }}</h3>
                <p>stock: {{ this.stock }}</p>
                <p>Descripcion del producto: {{ this.description }}</p>
                <hr>
            </div>
        {{/each}}
    {{else}}
        <h2>No tienes productos</h1>
    {{/if}}
</div>